#modal{
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    /* visibility: hidden; */
}

.botoes{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.chama{
    visibility: visible;
}

.oculta{
    visibility: hidden;
}